<div class="login-content">
  <div class="header hideOnMobile">
    <img [src]="logoPath" alt="Logo">
    <span>Espace UniQ Patient·e</span>
  </div>
  <div class="content">
    <img [src]="mobileLoginTop" class="hideOnDesktop" alt="Logo">
    <div class="login-form card">
      <div class="title">
        Bienvenue dans votre <span>espace UniQ</span>
      </div>
      <div class="form">
        <form action="">
          <input type="email" name="" placeholder="Votre adresse email" id="">
          <input type="password" name="" placeholder="Votre mot de passe" id="">
          <button type="submit">Se connecter</button>

          <a href="#" class="forget-password">Mot de passe oublié ?</a>
        </form>
      </div>
    </div>
  </div>
</div>
